# Игнорируем окружение
venv/
.env
*.env
*.venv/
env/
ENV/
env.bak/
venv.bak/
.env.*
.local
secrets.json

# Игнорируем зависимости
Pipfile
Pipfile.lock
poetry.lock
pyproject.toml

# Игнорируем кеши Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyc
*.pyo

# Логи и отладочные файлы
logs/
*.log
debug.log

# Базы данных (если используешь SQLite)
*.sqlite3
*.db

# Кэши инструментов
.mypy_cache/
.pytest_cache/
.tox/
.coverage
htmlcov/
.flake8
.pylintrc

# Файлы IDE и редакторов
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace

# Docker и контейнеры (если используешь)
*.dockerfile
docker-compose.yml
.dockerignore

# Сборочные файлы (если вдруг решишь собирать пакет)
build/
dist/
*.egg-info/
.sass-cache/

# Frontend (если вдруг будет)
node_modules/

# Alembic
alembic/versions/*